
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Portfolio of Matt Buckley</title>

</head>
<body>

<!-- 	<div class="row mobile">
		<div class="span6">
			<img alt="Half" src="/assets/images/temp_portrait.png"/>
		</div>
	<div> -->



	<div class = "desktop">
		<div class="span7">
			<img alt="Matt Buckley" id="desktop_brand" src="/app/assets/images/temp_portrait.png">
			<img alt="Matt Buckley" id="desktop_brand" src="custom_matt_brand.png" />
		</div>
		<div class="span5">
			<div class="row" id="bio">
				<div class="centered">
					<h1>full-stack developer</h1>
					<hr>
					<div id="blurb">
						<p>With a background in data science and a passion for visual design, I'm a full-stack engineer able to contribute on the front end as well as the back end. I aspire to sit squarely between the worlds of design and engineering. Building on my strengths in Ruby and Rails, I am exploring Javascript and Ember.js.</p>
						<p>My background is in economic research and data modeling. I've built on these skills as a Rails developer apprentice at Launch Academy, and I look forward to more growth as my development work expands. </p>
						<p>I am currently working with Ruby on Rails at Launch Academy <a href="http://launchacademy.io/"></a> in Boston.</p>
						<p>Follow me <a href="https://twitter.com/matt_thousand">@matt_thousand</a>, or reach me at matt.d.buckley1212 by care of gmail.</p>
						<div id="recent">
							<h1>recent work</h1>
							<hr>
							<p><a href="#">link_to_sentimentalist</a> - a Rails app I designed that uses my gem, sad_panda, to vizualize prevailing 'sentiments' across your social network  </p>
							<p><a href="#">link_to_group_ember_project</a> - first Ember.js application with a Rails API, and it is danke. what. <em>(in progress)</em></p>
							<p><a href="#">link_to_sad_panda</a> - a Ruby gem featuring tools for sentiment analysis of natural language: positivity/negativity and emotion classification.</p>
						</div>
						<!-- don't close; contingent on whether mobile or desktop -->
						<div class="logos">
							<a href="#"><img alt="Twitter" class="logo" id="first" src="custom_twitter_logo" /></a>
							<a href="https://github.com/mattThousand"><img alt="Github" class="logo" src="custom_github_logo" /></a>
							<a href="http://www.linkedin.com/profile/view?id=167061191&trk=tab_pro"><img alt="Linkedin" class="logo" id="last" src="custom_linkedin_logo" /></a>  
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>