
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Portfolio of Matt Buckley</title>
</head>
<body>

			<div id="portrait-mobile">
				<div class="row-fluid">
					<img class = "full" alt="half" src="temp_sepia2_mobile.png">
				</div>
			</div>
			<div class="row-fluid">
				<div id="portrait-desktop" class="desktop-only">
					<img class = "half" alt="half" src="temp_sepia2.png">
				</div>
				<div id="bio">
					<div class="centered">
						<h1>full-stack developer</h1>
						<hr>
						<div id="blurb">
							<p>With a background in data science and a passion for visual design, I'm a full-stack engineer able to contribute on the front end as well as the back end. I aspire to sit squarely between the worlds of design and engineering.</p>
							<p>Before becoming a developer, I worked as a research economist in the United Arab Emirates with the support of a Fulbright grant. I've built on this experience as a Rails developer apprentice at Launch Academy in Boston<a href="http://launchacademy.io/"></a>, and I look forward to more growth as my work in web development expands. </p>
							<p>Follow me <a href="https://twitter.com/mattthousand">@mattthousand</a>, or reach me at matt.d.buckley1212 by care of gmail.</p>
							<div id="recent">
								<h1>recent work</h1>
								<hr>
								<p><a href="https://rubygems.org/gems/sad_panda">sad_panda</a> - a Ruby gem featuring tools for sentiment analysis of natural language: positivity/negativity and emotion classification.</p>
							</div>
							<!-- don't close; contingent on whether mobile or desktop -->
							<div class="centered-logos">
								<div class="logos">
									<div>
										<a href="http://www.linkedin.com/profile/view?id=167061191&trk=tab_pro"><img alt="Linkedin" class="logo" id="last" src="linkedin_d_brown.png" /></a>
									</div>
									<div>
										<a href="https://github.com/mattThousand"><img alt="Github" class="logo" id="middle" src="github_d_brown.png" /></a>
									</div>
									<div>
										<a href="http://twitter.com/matt_thousand"><img alt="Twitter" class="logo" id="first" src="twitter_d_brown.png" /></a>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>


</body>